[project]
	description = Backend para administracion de la plataforma OpenWolf
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Javier Alvarez (jalvarezsamayoa)
[access "refs/for/refs/*"]
	read = group user/Javier Alvarez (jalvarezsamayoa)
	push = group user/Javier Alvarez (jalvarezsamayoa)
	label-Code-Review = -2..+2 group user/Javier Alvarez (jalvarezsamayoa)
	label-Verified = -1..+1 group user/Javier Alvarez (jalvarezsamayoa)
	rebase = group user/Javier Alvarez (jalvarezsamayoa)
	removeReviewer = group user/Javier Alvarez (jalvarezsamayoa)
	submit = group user/Javier Alvarez (jalvarezsamayoa)
[access "refs/heads/*"]
	read = group user/Javier Alvarez (jalvarezsamayoa)
	create = group user/Javier Alvarez (jalvarezsamayoa)
	push = +force group user/Javier Alvarez (jalvarezsamayoa)
	pushMerge = group user/Javier Alvarez (jalvarezsamayoa)
[access "refs/tags/*"]
	push = +force group user/Javier Alvarez (jalvarezsamayoa)
	pushTag = group user/Javier Alvarez (jalvarezsamayoa)
	pushSignedTag = group user/Javier Alvarez (jalvarezsamayoa)
